/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

.corelle-about {
	margin: 0 auto;
	
	&.history {

		div.area-1 {

			div.image-area {
				position: relative;

				p.corelle {
					position: absolute;
					width: 180px; height: 122px;
					left: 50%; top: 50%;
					margin: -61px 0 0 -90px;
					font-size: 17px;
					color: #fff;
					background:url('../img/logo.png') 50% 0 no-repeat;
					padding-top: 100px;
				}
				img {
					width: 100%;
				}
			}
			div.p-area {
				text-align: center;
				padding: 50px 0 80px 0;

				p.sj {
					font-size: 24px;
					line-height: 28px;
					color: rgb(34,34,34);
					font-weight: 700;
					padding: 0px 0 20px 0;
				}
				p.pj {
					font-size: 12px;
					line-height: 18px;
					color: rgb(68,68,68);
				}
			}
		}

		div.area-2 {
			padding-bottom: 80px;

			div.image-area {
				position: relative;

				img {
					width: 100%;
				}
			}
			div.p-history {
				padding: 0 24px;

				td {
					width: 50%;
					border-left: 1px solid rgb(136,136,136);
					padding-left: 15px;
					vertical-align:top;

					span.sub-tit {
						font-family: $f-m;
						font-size: 14px; color: rgb(34,34,34)
					}
					div.f {
						span.s-f {
							display: block; 
							padding-top: 15px;
							padding-bottom: 5px;
							font-family: $f-m; 
							font-size: 13px; font-weight: 700;
							color: rgb(34,34,34);
						}
						p.s-s {
							font-size: 12px; line-height: 16px;
							color: rgb(68,68,68);

							&.s {
								margin-bottom: 8px;
							}
						}
					}
				}
				
				p.p-year {
						font-size: 20px;
						color: #333;
						padding: 40px 0 25px 0;

					span {
						font-family: $f-m;
					}
				}
			}
		}

		div.area-3 {
			border-bottom: 10px solid rgb(243,243,243);

			div.image-area {
				position: relative;

				img {
					width: 100%;
				}
			}
			div.inner {
				padding: 0 24px 80px 24px;

				div.tabsets {
					padding-top: 22px;
					text-align: center;
					line-height: 24px;
					overflow-x: auto;
					width: 100%;
		
					a {
						display: inline-block;
						padding: 0 20px 15px 20px;
						width: 50%;
						font-family: $f-m;
						font-size: 16px;
						text-align: center;
						color: #888;
						border-bottom: 3px solid #fff;
		
						&.on {
							color: #000;
							font-weight: 700;
							border-bottom: 3px solid #000;
						}
					}
				}
				ul {

					li {
						font-family: $f-m;
						font-size: 15px;
						color: rgb(68,68,68);
						text-align: center;
						padding: 16px 0;
						line-height: 27px;
						font-weight: 700;
						border-bottom: 1px solid rgb(238,238,238);

						span {
							font-weight: 200;
						}
					}
				}
			}

		}

		div.area-4 {

			div.p-area {
				text-align: center;
				padding: 50px 0 50px 0;

				p.sj {
					font-family: $f-m;
					font-size: 24px;
					line-height: 28px;
					color: rgb(34,34,34);
					font-weight: 700;
					padding: 0px 0 20px 0;
				}
				p.pj {
					font-size: 14px;
					line-height: 21px;
					color: rgb(68,68,68);
				}
			}
		}

		ul.awards {
			padding: 0 24px 80px 24px;

			li {
				float: left;
				width: 46%; 
				margin-right: 8%;
				padding-bottom: 40px;

				&:nth-child(2n) {
					margin-right: 0;
				}

				div.thumbs {
					width: 150px; height: 124px;
					margin: 0 auto;

					img {width: 100%}
				}
				p.lst {
					font-family: $f-m;
					font-size: 11px;
					line-height: 18px;
					color: rgb(85,85,85);
					border-top: 1px solid rgb(204,204,204);
					padding-top: 20px;
				}
			}
		}

	}

    &.video-press {

        div.tabsets {
            padding: 22px 0 0px 0;
            text-align: center;
            line-height: 24px;

            a {
                display: inline-block;
                width: 50%;
                font-size: 16px;
                text-align: center;
                color: #888;
                border-bottom: 3px solid #fff;
                padding-bottom: 15px;

                &.on {
                    color: #000;
                    border-bottom: 3px solid #000;
                }
            }
        }

        // list
        ul {
            padding-top: 10px;
            background: rgb(240,240,240);

            li {
                border-bottom: 1px solid #cacaca;
				background: #fff;

				div.thumb {
					position: relative;

					a.play-btn {
						position: absolute;
						right: 20px; bottom: 20px;
						width: 46px; height: 46px;
						background: url('../img/about/m_play_btn.png') 0 0 no-repeat;
						-webkit-background-size: 46px auto;
						background-size: 46px auto;
					}
				}
                p.subject {
                    font-size: 15px; color: #333;
                    line-height: 22px; padding: 16px 20px 16px 20px;
                    overflow: hidden;

                    a {
						display: block;
						color: #333;
						
						span.f {
							float: left;
						}
						span.s {
							float: right;
							color: rgb(136,136,136);
							padding-right: 15px;
							background: url('../img/about/m-arrow-story.png') 100% 50% no-repeat;

						}
                    }
                }

                &:nth-child(even) {
                    margin-right: 0;
                }
            }
        }

        .btn-area a.arrow-down {
            background: url('../img/icon_more_arrow.png') 60% 50% no-repeat;
        }
	}
	
	&.contact {
		text-align: center;

		div.corelle-map {
			height: 200px; background: #eee;
		}
		div.info {
			span.s1 {
				display: inline-block;
				padding-top: 7px;
				line-height: 32px;
				font-size: 14px;
				color: #333;
				font-weight: 700;
			}
			p.p1 {
				font-size: 14px;
				color: rgb(136,136,136);
				padding-bottom: 17px;
			}
			span.s2 {
				display: inline-block;
				width: 220px;
				border-top: 1px solid rgb(204,204,204);
				line-height: 32px;
				font-size: 14px;
				color: #333;
				padding-top: 4px;
				font-weight: 700;
			}
			p.p2 {
				line-height: 18px;
				font-size: 14px;
				color: rgb(136,136,136);
				padding-bottom: 8px;
			}
			a.question {
				display: block;
				width: 227px;
				line-height: 34px;
				font-size: 13px;
				color: rgb(136,136,136);
				border: 1px solid rgb(217,217,217);
				-webkit-border-radius: 23px;
				border-radius: 23px;
				margin: 0 auto 15px auto;
			}
		}
	}
}

div.modal-about-video {
	position: absolute;
	z-index: 10;
	width: 100%; height: 100%;
	left: 0; top: 0;
	background: #fff;
	padding: 20px;

	span.logos {
		display: block;
		width: 192px; height: 68px;
		background: url('../img/about/popup_snapware.png') 0 0 no-repeat;
		-webkit-background-size: 192px auto;
		background-size: 192px auto;
		text-indent: -9999px;
		margin: 15px 0 8px 0;
	}
	p.subject {
		font-size: 20px;
		color: #333;
		padding-bottom: 20px;
		line-height: 30px;
	}
	div.content {
		font-size: 15px;
		color: rgb(102,102,102);
		line-height: 22px;
	}
	a.close-modal {
		position: absolute;
		right: 20px; top: 20px;
		width: 23px; height: 23px;
		background: url('../img/btn_close_modal.png') 0 0 no-repeat;
		-webkit-background-size: 23px auto;
		background-size: 23px auto;
	}
}

div.modal-about-article {
	position: fixed;
	z-index: 10;
	width: 100%; height: 100%;
	left: 0; top: 0;
	background: #000;

	a.close-modal {
		position: absolute;
		right: 20px; top: 20px;
		width: 23px; height: 23px;
		background: url('../img/btn_close_modal_white.png') 0 0 no-repeat;
		-webkit-background-size: 23px auto;
		background-size: 23px auto;
	}
}