/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

.corelle-product {
	
	div.product-tab {

		ul.company {
			margin: 0 auto;
			border-bottom: 10px solid rgb(243,243,243);
			border-top: 1px solid #dcdcdc;

			li {
				position: relative;
				float: left;
				width: 25%;
				height: 89px;
				border-right: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;

				&:nth-child(4n) {
					border-right: 0;
				}
				
				&:last-child {
					background: #f7f7f7;
				}

				a {
					position: absolute;
					width: 100%;
					height: 89px;
					text-indent: -9999px;
					left: 0; top: 0;
				}
				&.on > a {
					left: 0px; top: 0px;
					border: 2px solid #000;
					// background: #fff;
					z-index: 1;
					margin: -1px 0 0 0px;
				}				

				&.p-1 {
					background:url('../img/product/tab_logo_1_off.png') 50% 50% no-repeat;
					-webkit-background-size: 110px auto;
					background-size: 110px auto;
					&.on {
						background:url('../img/product/tab_logo_1_on.png') 50% 50% no-repeat;
						-webkit-background-size: 110px auto;
						background-size: 110px auto;
					}
				}
				&.p-2 {
					background:url('../img/product/tab_logo_2_off.png') 50% 50% no-repeat;
					-webkit-background-size: 110px auto;
					background-size: 110px auto;
					&.on {
						background:url('../img/product/tab_logo_2_on.png') 50% 50% no-repeat;
						-webkit-background-size: 110px auto;
						background-size: 110px auto;
					}
				}
				&.p-3 {
					background:url('../img/product/tab_logo_3_off.png') 50% 50% no-repeat;
					-webkit-background-size: 110px auto;
					background-size: 110px auto;
					&.on {
						background:url('../img/product/tab_logo_3_on.png') 50% 50% no-repeat;
						-webkit-background-size: 110px auto;
						background-size: 110px auto;
					}
				}
				&.p-4 {
					background:url('../img/product/tab_logo_4_off.png') 50% 50% no-repeat;
					-webkit-background-size: 110px auto;
					background-size: 110px auto;
					&.on {
						background:url('../img/product/tab_logo_4_on.png') 50% 50% no-repeat;
						-webkit-background-size: 110px auto;
						background-size: 110px auto;
					}
				}
				&.p-5 {
					background:url('../img/product/tab_logo_5_off.png') 50% 50% no-repeat;
					-webkit-background-size: 110px auto;
					background-size: 110px auto;
					&.on {
						background:url('../img/product/tab_logo_5_on.png') 50% 50% no-repeat;
						-webkit-background-size: 110px auto;
						background-size: 110px auto;
					}
				}
				&.p-6 {
					background:url('../img/product/tab_logo_6_off.png') 50% 50% no-repeat;
					-webkit-background-size: 120px auto;
					background-size: 120px auto;
					&.on {
						background:url('../img/product/tab_logo_6_on.png') 50% 50% no-repeat;
						-webkit-background-size: 120px auto;
						background-size: 120px auto;
					}
				}
				&.p-7 {
					background:url('../img/product/tab_logo_7_off.png') 50% 50% no-repeat;
					-webkit-background-size: 120px auto;
					background-size: 120px auto;
					&.on {
						background:url('../img/product/tab_logo_7_on.png') 50% 50% no-repeat;
						-webkit-background-size: 120px auto;
						background-size: 120px auto;
					}
				}
				&.p-8 {
					background:url('../img/product/tab_logo_8_off.png') 50% 50% no-repeat;
					-webkit-background-size: 115px auto;
					background-size: 115px auto;
					&.on {
						background:url('../img/product/tab_logo_8_on.png') 50% 50% no-repeat;
						-webkit-background-size: 115px auto;
						background-size: 115px auto;
					}
				}
			}
		}
	}

	div.tabsets {
		text-align: center;
		overflow-x: auto;
		width: 100%;
		font-family: $f-m;

		a {
			float: left;
			padding: 20px 0 0px 0;
			height: 56px;
			width: 50%;
			font-size: 15px;
			text-align: center;
			color: #888;
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 2px;

			&.on {
				color: #000;
				border-bottom: 3px solid #000;
				padding-bottom: 0px;
			}
		}
	}

	div.product-lists {

		ul {
			width: 333px;
			margin: 0 auto;
			padding-bottom: 200px;

			li {
				float: left;
				width: 105px;
				margin: 20px 3px 0 3px;
				text-align: center;

				img {
					width: 105px; height: 105px;
				}
				p {
					width: 105px;
					padding-top: 6px;
					font-family: $f-m;
					font-weight: 700;
					font-size: 14px;
					line-height: 18px;
					height: 50px;
					word-break: break-all;

					span {
						display: block;
						width: 105px;
						font-weight: normal;	
					}
				}
			}
		}
	}
}