/* ***************  global *************** */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansCJKkr', serif; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/*  ie-mac \*/
*html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* ie-mac */
/* *********** other ********** */
.effect {
  background-color: #000;
  filter: Alpha(opacity=35);
  opacity: 0.3;
  -moz-opacity: 0.3; }

summary {
  display: none; }

/* link */
a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:active {
  text-decoration: none; }

/* image */
img {
  border: 0;
  vertical-align: top; }

/* define */
dl, dt, dd {
  margin: 0px;
  padding: 0px; }

/* sentence */
div, h2 {
  padding: 0;
  margin: 0; }

p {
  margin: 0px;
  padding: 0px; }

/* list */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

ol {
  padding-left: 24px; }

/* area */
hr {
  display: none; }

/* form */
form {
  margin: 0;
  padding: 0; }

form label, label {
  height: 19px;
  color: #5E5E5E;
  cursor: default;
  font-size: 100%; }

select {
  font-size: 100%;
  background: #fff;
  vertical-align: middle;
  height: 20px;
  letter-spacing: 0px; }

legend {
  display: none; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

/* table */
table {
  margin: 0px;
  padding: 0px;
  border-spacing: 0; }

td {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  color: #777777; }

.notable {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0 solid; }

th {
  font-weight: normal; }

/* h */
h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

strong, b {
  font-weight: normal; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@font-face {
  font-family: 'NotoSansCJKkr';
  src: url("../img/font/notokr-regular.eot");
  src: url("../img/font/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../img/font/notokr-regular.woff2") format("woff2"), url("../img/font/notokr-regular.woff") format("woff"), url("../img/font/notokr-regular.ttf") format("truetype"), url("../img/font/notokr-regular.svg#notokr-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NanumBrunGothic';
  src: url("../img/font/NanumBarunGothic.eot");
  src: url("../img/font/NanumBarunGothic.eot?#iefix") format("embedded-opentype"), url("../img/font/NanumBarunGothic.woff2") format("woff2"), url("../img/font/NanumBarunGothic.woff") format("woff"), url("../img/font/NanumBarunGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/********************** 
* layout
***********************/
div.wrapper {
  margin: 0 auto; }
  div.wrapper section {
    padding: 0 20px; }
    div.wrapper section div.main-title {
      height: 200px;
      text-align: center;
      border-bottom: 1px solid #636363; }
      div.wrapper section div.main-title h2 {
        padding: 53px 0 10px 0;
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        color: #000; }
      div.wrapper section div.main-title p.slogan {
        font-size: 16px;
        color: #555; }

/********************** 
* header
***********************/
header {
  position: relative;
  height: 61px;
  border-bottom: 1px solid #e5e5e5; }
  header h1 {
    position: absolute;
    width: 68px;
    height: 32px;
    background: url("../img/logo.png") 0 0 no-repeat;
    background-size: 68px auto;
    left: 20px;
    top: 15px;
    text-indent: -9999px; }
  header a.zoom {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 20px;
    right: 73px;
    background: url("../img/icon_zoom.png") 0 0 no-repeat;
    background-size: 22px auto;
    text-indent: -9999px; }
  header a.menu {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 20px;
    top: 20px; }
    header a.menu span.f {
      position: absolute;
      top: 3px;
      width: 19px;
      height: 2px;
      background: #000; }
    header a.menu span.s {
      position: absolute;
      bottom: 3px;
      width: 19px;
      height: 2px;
      background: #000; }

/********************** 
* footer
***********************/
footer {
  border-top: 1px solid #dedede; }
  footer .copyright {
    font-size: 12px;
    line-height: 20px;
    text-align: center; }
    footer .copyright div.menus {
      padding: 20px 0; }
      footer .copyright div.menus span.f {
        font-size: 16px;
        font-weight: 600;
        color: #000; }
      footer .copyright div.menus p.f {
        padding: 4px 0;
        font-size: 14px;
        color: #888888; }
      footer .copyright div.menus span.s {
        font-family: 'Montserrat', serif;
        font-size: 15px;
        font-weight: 600;
        color: #000; }
    footer .copyright div.phone-time {
      padding: 20px 0 50px 0;
      background: #0a3f54; }
      footer .copyright div.phone-time a {
        display: inline-block;
        line-height: 13px;
        padding: 0 10px; }
      footer .copyright div.phone-time p {
        padding-top: 20px; }
    footer .copyright a, footer .copyright p {
      color: #ccc; }

/********************** 
* globals
***********************/
input[type="radio"].default {
  display: none; }

input[type="radio"].default + label span {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background: url("../img/radio_uncheck.png") 50% 50% no-repeat;
  background-size: 17px auto;
  margin-right: 1px;
  cursor: pointer; }

input[type="radio"].default:checked + label span {
  background: url("../img/radio_check.png") 50% 50% no-repeat;
  background-size: 17px auto; }

input[type="checkbox"].default {
  display: none; }

input[type="checkbox"].default + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url("../img/checkbox_off.png") 50% 50% no-repeat;
  cursor: pointer; }

input[type="checkbox"].default:checked + label span {
  background: url("../img/checkbox_on.png") 50% 50% no-repeat; }

.corelle-about {
  border: 1px solid blue; }

.corelle-brand {
  border: 1px solid blue; }

.corelle-news {
  border: 1px solid green; }

.corelle-product {
  border: 1px solid blue; }

.corelle-support {
  border: 1px solid blue; }

.corelle-webzine {
  border: 1px solid blue; }
