/********************** 
* layout
***********************/
div.wrapper {
    margin: 0 auto;

    section {
        padding: 0 20px; 

        div.main-title {
            height: 200px;
            text-align: center;
            border-bottom: 1px solid #636363;            

            h2 {
                padding: 53px 0 10px 0;
                font-family:'Playfair Display', serif;
                font-size: 35px; color: #000;
            }
            p.slogan {
                font-size: 16px; color: #555;
            }
        }
    }
}

/********************** 
* header
***********************/
header {
    position: relative; height: 61px; border-bottom: 1px solid #e5e5e5;
    h1 {
        position: absolute;
        width: 68px; height: 32px;
        background:url('../img/logo.png') 0 0 no-repeat;
        background-size: 68px auto;
        left: 20px; top: 15px;
        text-indent: -9999px;
    }   
    a.zoom {
        position: absolute;
        width: 22px; height: 22px;
        top: 20px; right: 73px;
        background:url('../img/icon_zoom.png') 0 0 no-repeat;
        background-size: 22px auto;
        text-indent: -9999px;
    }
    a.menu {
        position: absolute;
        width: 19px; height: 19px;
        right: 20px; top: 20px;
        span.f {
            position: absolute;
            top: 3px;
            width: 19px; height: 2px;
            background:#000;
        }
        span.s {
            position: absolute;
            bottom: 3px;
            width: 19px; height: 2px;
            background:#000;
        }
    }
    nav {
        
    }
}

/********************** 
* footer
***********************/
footer {
    border-top: 1px solid #dedede;

    .copyright {
        font-size: 12px;
        line-height: 20px;
        text-align: center;

        div.menus {
            padding: 20px 0; 

            span.f {
                font-size: 16px; font-weight: 600; color: #000;
            }
            p.f {
                padding: 4px 0; font-size: 14px; color: rgb(136,136,136);
            }
            span.s {
                font-family: 'Montserrat', serif; font-size: 15px; font-weight: 600; color: #000;
            }            
        }
        div.phone-time {
            padding: 20px 0 50px 0;
            background: #0a3f54;

            a {
                display: inline-block;
                line-height: 13px;
                padding: 0 10px;
            }
            p {
                padding-top: 20px;
            }
        }
        a, p {
            color: #ccc;
        }
    }
}


/********************** 
* globals
***********************/
//input radio
input[type="radio"].default {
    display: none;
}
input[type="radio"].default + label span {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background: url('../img/radio_uncheck.png') 50% 50% no-repeat;
    background-size: 17px auto;
    margin-right: 1px;
    cursor: pointer;
}
input[type="radio"].default:checked + label span {
    background: url('../img/radio_check.png') 50% 50% no-repeat;
    background-size: 17px auto;
}

//checkbox
input[type="checkbox"].default {
    display: none;
}
input[type="checkbox"].default + label span {
    display: inline-block;
    vertical-align: middle; margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('../img/checkbox_off.png') 50% 50% no-repeat;
    cursor: pointer;
}
input[type="checkbox"].default:checked + label span {
    background: url('../img/checkbox_on.png') 50% 50% no-repeat;
}